/* *,*::before,*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: linear-gradient(to right , #00AAFF,#00FF6C);
}

.calculator-grid{
    display: grid;
    justify-content: center;
    margin-top: 2rem;
grid-template-columns: repeat(4,6rem);
grid-template-rows: minmax(7rem , auto) repeat(5 , 6rem);
}

.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1/ -1;
display: flex;
flex-direction: column;
align-items: flex-end;
justify-content: space-around;
    background-color: rgba(0, 0, 0, .75);
    padding: .75rem;
    word-wrap: break-word;
    word-break: break-all;
}
/* The greater than sign (>) selector in CSS is used to select the element with a specific parent. It is called as element > element selector. It is also known as the child combinator selector which means that it selects only those elements which are direct children of a parent. */
/* .previous-operand{
    color: azure;
}
.current-operand{
    color: azure;
    font-size: 2.5rem;
}
.calculator-grid> button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid  white;
    outline: none;
    background-color: rgba(255, 255, 258, .75);
}
.calculator-grid> button:hover,
.calculator-grid> button:focus{
background-color: rgba(255, 255, 255, .9);
} */


 
